@model List<Author>
<h3 style="text-align:center">Yazar Listeleme Sayfası</h3>
<a asp-controller="author" asp-action="create" asp-area="Management" class="btn btn-primary" style="float:right">Ekle</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>LastName</th>
            <th>Aksiyonlar</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Author item in Model)
        {
            int i = 1;
            <tr>
                <td>@i</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                
                <td>
                    <a asp-controller="author" asp-action="softdelete" asp-area="Management" class="big-icon" asp-route-id="@item.ID"><i class="bi bi-x-octagon"></i></a>
                    <a asp-controller="author" asp-action="edit" asp-area="Management" class="big-icon left-margin" asp-route-id="@item.ID"><i class="bi bi-pencil-fill"></i></a>
                </td>
            </tr>
            i++;

        }
        
    </tbody>
</table>